$primary-color: #ddd!default;

$general-bg-color: #f9f9f9!default;
$general-font-family: 'Open Sans', sans-serif!default;
$heading-font-family: 'Nunito', sans-serif!default;

/*
  Login form
 */
$lf-width: 400px!default;
$lf-min-height: 350px!default;
